
/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
}
html,body{
    overflow-x: hidden;
}
/* Headers */
h1,h2,h3,h4{
    font-weight: 800; 
}
h5{
    font-weight: 600;
    font-size: 1.3em;
}
h1{
    font-size: 4em;
}


/* Navbar Section*/
.navbar{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding-left: 50px;
    padding-right: 50px;
}
.nav-link{
    color: #18191f !important;
}

.page{
    height: 866px;
}


/* Main Section */
.photo-circle{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background-color: aqua;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.main-photo-col{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.about-me-btn{
    border: none;
    background-color: white;
    width: 10em;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}


/* Technologys Section*/
.logo-container{
    width: auto;
    height: 180px;
}

.tech-logo{
    width: auto;
    max-height: 100%;
}

.technology-container{
    width: 200px;
    text-align: center;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
    h1{
        font-size: 2em;
    }
    .main-photo-col{
        display: none;
    }
    .page{
        height: 100%;
        padding: 10px 0px;
    }

    .second-page{
        background-color: #D5FAFC;
    }
    .navbar{
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo-container{
        height: 120px;
    }
    .tech-logo{
        width: 75%;
        height: 100px;
        object-fit: contain;
    }

    .row{
        margin-top: 20px !important;
    }

    
}

